/nbproject/private/
/nbproject/
/src/usbreset
/po/*.mo
/po/*.gmo
/src/.deps/
/autom4te.cache/
/config/
Makefile
Makefile.in
/aclocal.m4
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
*.gz
